@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar li a.active{
  background: white !important;
  color: green !important
}

.my-container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px;
}